.btn{
  &Success{
    &Custom{
      background-color: #009688;
      border-color:#009688;
      color:#fff;
      &:hover{
        background-color: #00AE9C;
        background-color: #157F74;
        border-color: #157F74;
        color:#fff;
      }
    }
  }

  &Navigation{
    img{
      display: inline-block;
      position: relative;
      top:-2px;
      transition: 0.1s linear all;
    }
    .img{
      &Right{
        margin-left:-4px;
      }
      &Left{
        margin-right:-4px;
      }
    }
    &:hover{
      .imgRight{
        transform:translateX(0.2rem);
      }
      .imgLeft{
        transform:translateX(-0.2rem);
      }
    }
  }

  &Transparent{
    background-color: transparent;
    border-color:transparent;
    padding:0;
  }
}
