.footer{
  //height:80px;
  //background-color: #190d23;
  background-color: #161111;
  &Top{
    //background-color: #d3d3d3;
    background-color: #dbdbdb;
    padding: 12px 0;
    font-size: 15px;
    font-weight: 500;
    *{
      //opacity: 0.9;
    }
    @media (min-width: 992px){
      font-size: 18px;
      padding:1rem 0;
      font-weight: 600;
    }
  }

  &Bottom{
    padding:15px 0;
    color:#fff;
    a{
      &.textLink{
        color:#fff;
        text-decoration: none;
        &:hover{
          color:#828dda;
        }
      }
    }
  }

  .creditWrapper{
    .logoHolder {
      border-top:1px solid #e3e3e3;
      img{
        max-height: 10rem;
        max-width: 10rem;
      }
    }
    @media (min-width: 576px) {
      .logoHolder {
        border-top: 0;
        img{

        }
      }
    }
  }

}

.logoHolder {
  border-top:1px solid #e3e3e3;
  img{
    max-height: 10rem;
    max-width: 10rem;
  }
}
@media (min-width: 576px) {
  .logoHolder {
    border-top: 0;
    img{

    }
  }
}
